// ------------------------------------------------------------------
// --------------------------- ui library ---------------------------
// ------------------------------------------------------------------

@import "~antd/dist/antd";

// -------------------------------------------------------------------
// --------------------------- apple fonts ---------------------------
// -------------------------------------------------------------------

@font-face {
  font-family: Semibold;
  src: url(./../assets/fonts/Semibold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Bold;
  src: url(./../assets/fonts/Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Regular;
  src: url(./../assets/fonts/Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RegularItalic;
  src: url(./../assets/fonts/RegularItalic.otf);
  font-weight: normal;
  font-style: italic;
}

// ------------------------------------------------------------------
// ----------------------------- mixins -----------------------------
// ------------------------------------------------------------------

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

// ------------------------------------------------------------------
// ----------------------------- global -----------------------------
// ------------------------------------------------------------------

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Avenir", "Helvetica", sans-serif;
  font-size: 18px;
}

.ultra {
  width: 100vw;
  height: 100vh;
  display: block;
}

// ------------------------------------------------------------------
// ---------------------------- HomePage ----------------------------
// ------------------------------------------------------------------

.homepage-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .homepage-studyfind-logo {
    width: 150px;
    height: auto;
  }

  .homepage-app-name {
    margin: 20px 0;
    h1 {
      margin: 0;
      font-size: 225%;
      text-align: center;
      white-space: nowrap;
    }
  }

  .homepage-searchbar-div {
    width: 100%;
    max-width: 600px;
    padding: 0 25px;
    margin: 0 auto 25px auto;

    .homepage-searchbar-input {
      width: 100%;
    }
  }

  .homepage-search-button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}

// ---------------------------- Searchbar ----------------------------

.searchbar-autocomplete-dropdown {
  z-index: 3000;
}

// ----------------------------- Navbar -----------------------------

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 2000;
  display: flex;
  transition: 0.3s;
}

.navbar-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 40px;
    height: auto;
  }

  h3 {
    margin: 0;
    text-align: center;
  }
}

.navbar-items {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}

.navbar-space {
  flex-grow: 1;
}

.dark-mode-toggle {
  padding: 15px;

  &:hover {
    cursor: pointer;
  }
}

// ------------------------------------------------------------------
// --------------------------- SearchPage ---------------------------
// ------------------------------------------------------------------

// navbar
.searchpage-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 2000;
  display: flex;
  transition: 0.3s;

  h2 {
    margin: 0 12px 0 0;
    text-align: center;
    display: none;
  }
}

.searchpage-navbar-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 40px;
    height: auto;
  }
}

.searchpage-navbar-items {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}

.searchpage-navbar-space-before {
  display: none;
  flex-grow: 1;
}

.searchpage-navbar-space-after {
  flex-grow: 1;
}

.searchpage-searchbar-div {
  width: 100%;
  max-width: 700px;
  padding: 0 25px;

  .searchpage-searchbar-input {
    width: 100%;

    .searchpage-searchbar-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// results
.searchpage-results-container {
  width: 100%;
  height: 100%;

  .searchpage-results-items {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 122px;
    align-items: center;
  }

  .searchpage-results-navbar-covering {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 132px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    background-color: white;
  }

  .searchpage-results-space-above {
    width: 100%;
    height: 112px;
  }

  .searchpage-results-buttons {
    top: 85px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 207px;
    z-index: 1500;
  }

  .searchpage-results-card {
    margin-top: 35px;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px 20px;

    h3 {
      color: #3f8ff7;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    h5 {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    span {
      font-size: 90%;
    }
  }

  .searchpage-spinner {
    margin-top: 35px;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchpage-footer {
    margin-top: 35px;
    max-width: 600px;
    height: 100px;
    padding: 10px 20px 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

// ------------------------------------------------------------------
// --------------------------- GraphPage ----------------------------
// ------------------------------------------------------------------

// sider menu
.ant-layout-sider {
  background: #0f1013;

  .ant-layout-sider-trigger {
    background: #1c1e23;
  }
}

.ant-menu.ant-menu-dark {
  background: #0f1013;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #1c1e23;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #1c1e23;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #1c1e23;
}

.graphpage-sider {
  .graphpage-menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 80px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 40px;
      height: auto;
    }

    h2 {
      color: rgba(236, 236, 236, 0.9);
      margin: 5px 0 0 10px;
      text-align: center;
      font-size: 18px;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
    }
  }

  &.graphpage-sider-collapsed {
    .graphpage-menu-logo {
      h2 {
        transform: scaleX(0);
        transition-duration: 0.3s;
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 0;
      }
    }

    .ant-layout-sider-children {
      .ant-menu {
        li {
          .anticon {
            margin-bottom: -3px;
          }
        }
      }
    }
  }

  .ant-layout-sider-children {
    .ant-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      li {
        display: flex;
        align-items: center;
        height: 50px;

        .anticon {
          margin-bottom: 3px;
        }
      }
    }
  }
}

// footer menu
.graphpage-footer {
  width: 100%;
  position: fixed;
  padding: 0;
  bottom: 0;

  .ant-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    .graphpage-menu-item-icon {
      font-size: 20px;
      margin: 0;
    }

    li {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
    }
  }
}

// content layout
.ant-layout {
  height: 500vh;
  min-height: 100vh;
  background-color: #f9f9f9;

  .ant-layout-content {
    height: 100%;
  }
}

// main container for graphpage
.graphpage-content-container {
  height: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .graphpage-flexrow {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 1150px;
    padding: 0 12px;
  }

  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #graph-canvas {
    padding: 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .graphpage-card-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    max-width: 900px;
    max-height: 600px;

    .graphpage-card {
      padding: 30px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 4px;
      flex: 1;
      min-width: 200px;
    }
  }

  .graphpage-filler-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// first row of graphpage with graph title and buttons
.graphpage-toprow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  margin-bottom: 15px;

  .graphpage-toprow {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .navbar-space {
      flex-grow: 1;
    }

    .graphpage-title {
      margin-bottom: 0px;
      text-transform: capitalize;
      font-size: 150%;
      margin-left: 12px;
    }

    .graphpage-dropdown {
      color: #3f8ff7;
      text-align: center;

      &:hover {
        cursor: pointer;
      }

      .graphpage-dropdown-icon {
        font-size: 70%;
        vertical-align: middle;
        transform: scaleX(1.3);
      }
    }

    .graphpage-button {
      padding-bottom: 1px;
      background: transparent;
      border-color: transparent;
      box-shadow: none;

      &:hover {
        background: rgba(204, 204, 204, 0.3);
      }

      svg {
        color: #3f8ff7;
      }
    }
  }
}

// link tag for saving/exporting graph
#saveLink {
  display: none;
}

// graphpage filter modal
.graphpage-filter-input-row {
  display: flex;
  align-items: center;

  h3 {
    margin: 0;
    padding: 0;
  }

  .graphpage-range-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

    .graphpage-filter-input {
      width: 70px;
      text-align: center;
      font-family: "Avenir", "Helvetica", sans-serif !important;
      font-weight: 600;
      color: #3f8ff7;
    }

    .ant-input {
      color: #6c6c6d;
    }

    .ant-slider-track {
      background-color: #56aeffd1;
    }

    .ant-slider-handle {
      border-color: #56aeff;
    }
  }
}

.graphpage-filter-modal {
  .ant-btn-primary {
    background: #31b0ff;
    border-color: #31b0ff;

    &:hover {
      background: #15a5ff;
      border-color: #15a5ff;
    }
  }
}

// ------------------------------------------------------------------
// ---------------------------- dark mode ---------------------------
// ------------------------------------------------------------------

.ultra.dark-mode {
  background-color: #1c1e23;

  .navbar,
  .homepage-wrapper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: rgb(236, 236, 236);
    }
  }

  .dark-mode-toggle {
    svg {
      color: rgb(236, 236, 236);
    }
  }

  .slide-in-menu {
    background-color: #14a6cc;
  }

  .searchpage-results-navbar-covering {
    background-color: #1c1e23;
    border-color: #3a3e48;
  }

  .searchpage-navbar-items {
    h2 {
      color: rgb(236, 236, 236);
    }
  }

  .searchpage-results-card {
    h3 {
      color: #56aeff;
    }
    h5 {
      color: rgb(236, 236, 236);
    }
    span {
      color: rgba(236, 236, 236, 0.9);
    }
  }

  // searchpage navigation
  .ant-pagination-item,
  .ant-pagination-item-active,
  .ant-pagination-item-link {
    background-color: #1c1e23;
    border-color: #1c1e23;

    a {
      color: rgb(236, 236, 236);
    }

    &:hover {
      border-color: #56aeff;
    }
  }

  .ant-pagination-item-active {
    border-color: #56aeff;
  }

  .ant-pagination-item-link {
    span {
      color: rgb(236, 236, 236);
    }
  }

  .ant-btn-primary {
    background: #1c1e23;
    border-color: #56aeff;
    color: rgb(236, 236, 236);

    &:hover {
      background: #3a3e48;
      border-color: #56aeff;
    }
  }

  // graphpage
  .ant-layout {
    background-color: #15171b;
  }

  .graphpage-card,
  #graph-canvas {
    background-color: #1c1e23;
    border-color: #373b44;
  }

  .graphpage-title {
    color: rgb(236, 236, 236);
  }

  .ant-statistic-title {
    color: rgba(255, 255, 255, 0.45);
  }

  .ant-statistic-content {
    color: rgb(236, 236, 236);
  }

  .graphpage-dropdown {
    color: #56aeff;
  }

  .graphpage-button {
    padding-bottom: 1px;
    background: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background: rgba(204, 204, 204, 0.3);
      border-color: transparent;
    }

    svg {
      color: #56aeff;
    }
  }
}

.dark-mode {
  // modals
  .ant-modal-content {
    background-color: #1c1e23;

    .ant-modal-body {
      h3 {
        color: rgba(236, 236, 236, 0.9);
      }
    }
  }

  .ant-modal-header {
    border-bottom: 1px solid #3a3e48;
    background: #1c1e23;

    .ant-modal-title {
      color: rgb(236, 236, 236);
    }
  }

  .ant-modal-footer {
    border-top: 1px solid #3a3e48;
  }

  .ant-modal-close-x {
    color: rgb(236, 236, 236);
  }

  .ant-collapse {
    border: none;

    .ant-collapse-item {
      border-bottom: 1px solid #3a3e48;
      background-color: #1c1e23;

      .ant-collapse-header {
        color: rgb(236, 236, 236);
      }

      .ant-collapse-content {
        border-top: none;
        background-color: #272a31;
        color: rgba(236, 236, 236, 0.9);
      }
    }
  }

  .ant-statistic-title {
    color: rgba(255, 255, 255, 0.55);
  }

  .ant-statistic-content {
    color: rgba(236, 236, 236, 0.9);
  }

  &.ant-dropdown {
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border-right: none;
    }

    .ant-menu,
    .ant-dropdown-menu {
      background: #373b44;
      color: rgba(236, 236, 236, 0.9);
    }

    .ant-dropdown-menu-item {
      background: #373b44;
      color: rgba(236, 236, 236, 0.9);
    }
  }
}

// -------------------------------------------------------------------
// --------------------------- media rules ---------------------------
// -------------------------------------------------------------------

// when screen height reachs 550px and below
@media only screen and (max-height: 550px) {
  // logo disappears if no space
  .homepage-studyfind-logo {
    display: none;
  }
}

// when screen width reachs 600px and below
@media only screen and (max-width: 600px) {
  // font gets smaller
  body {
    font-size: 16px;
  }

  // logo and name should scale with width
  .homepage-wrapper {
    .homepage-studyfind-logo {
      width: 30vw;
    }

    .homepage-app-name {
      h1 {
        font-size: 7vw;
      }
    }
  }
}

// when screen width reachs 600px and below
@media only screen and (max-width: 320px) {
  // change font-size
  .graphpage-title {
    font-size: 80% !important;
  }
}

// when screen width reachs 768px and below (ipads and below)
@media only screen and (max-width: 768px) {
  // change font-size
  .graphpage-title {
    font-size: 110% !important;
  }

  // change navbar from horizontal website layout to vertical mobile layout
  .searchpage-navbar {
    h2 {
      display: block;
    }

    .searchpage-navbar-items {
      flex-wrap: wrap;
    }

    .searchpage-navbar-space-before {
      display: block;
    }

    .searchpage-searchbar-div {
      order: 1;
      max-width: 1200px;
      padding: 0;
    }
  }

  // change placement of filter and visualize buttons
  .searchpage-results-container {
    .searchpage-results-items {
      padding: 0px 25px;
    }

    .searchpage-results-buttons {
      top: 138px;
    }

    .searchpage-results-space-above {
      height: 165px;
    }

    .searchpage-results-navbar-covering {
      height: 185px;
    }

    .searchpage-results-card {
      max-width: 768px;
      border: 1px solid rgb(235, 235, 235);
    }

    .searchpage-footer {
      max-width: 768px;
    }
  }

  .dark-mode {
    .searchpage-results-card {
      border: 1px solid rgba(126, 126, 126, 0.23);
    }
  }
}
